In [14]:
import pandas as pd
import numpy as np
import seaborn as sns
from sklearn.ensemble import IsolationForest

In [22]:
data= pd.read_csv('/dataset.csv')
data.head(10)

   Unnamed: 0  student_id  marks
0           0           1     95
1           1           2    100
2           2           3     20
3           3           4     30
4           4           5   2000
5           5           6   3000
6           6           7     12
7           7           8     34
8           8           9     67
9           9          10     89

In [31]:
model=IsolationForest(n_estimators=100,max_samples='auto',contamination=float(0.2))

model.fit(data[['marks']])

print(model.get_params())

{'bootstrap': False, 'contamination': 0.2, 'max_features': 1.0, 'max_samples': 'auto', 'n_estimators': 100, 'n_jobs': None, 'random_state': None, 'verbose': 0, 'warm_start': False}

/usr/local/lib/python3.8/dist-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but IsolationForest was fitted with feature names
  warnings.warn(

In [29]:
data['scores']= model.decision_function(data[['marks']])
data['anomaly_scores']= model.predict(data[['marks']])
data[data['anomaly_scores']== -1].head()

   Unnamed: 0  student_id  marks    scores  anomaly_scores
4           4           5   2000 -0.166393              -1
5           5           6   3000 -0.213419              -1